*{
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.clock{
    background-color: lightblue;
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 50%;
}
.clock .number{
    
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    color: black;

}
.clock .number1{--rotation: 30deg;}
.clock .number2{--rotation: 60deg;}
.clock .number3{--rotation: 90deg;}
.clock .number4{--rotation: 120deg;}
.clock .number5{--rotation: 150deg;}
.clock .number6{--rotation: 180deg;}
.clock .number7{--rotation: 210deg;}
.clock .number8{--rotation: 240deg;}
.clock .number9{--rotation: 270deg;}
.clock .number10{--rotation: 300deg;}
.clock .number11{--rotation: 330deg;}

.clock .hand
{      --rotation: 0;
    position: absolute;
    /* background-color: black; */
    bottom: 50%;
    left: 49%;
    z-index: 10;
    transform-origin: bottom;
    transform: rotate(var(--rotation));
border-radius: 10px;
}

.clock .hand.hour{
height: 30%;
width: 4px;
background-color: brown;
}
.clock .hand.minute{
height: 50%;
width: 4px;
background-color: black;
}
.clock .hand.second{
height: 50%;
width: 4px;
background-color: black;
}