*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: lightgreen;
}

#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}

#ptop
{   display: flex;
    padding-left: 100px;
    padding-right: 100px ;
    width: 100%;
    height: 100px;
    background-color: rgb(7, 71, 7);
    justify-content: space-between;
}
.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box{
    display: flex;
    background-color: white;
    padding: 10px 20px;
    border-radius: 3px;
}
.pbtm
{   display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: calc(100% - 100px);
    gap: 5px;
    align-items: center;
    justify-content: center;    
}
.bubble:hover{
    background-color: rgb(2, 42, 2);
}
.bubble
{   
    color: white;
    display: flex;
    height: 60px;
    width: 60px;
    background-color: rgb(7, 71, 7);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    cursor: pointer;
    
}

 