* body{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}

.btn{
height: 20px;
width: 20px;
display: inline-block;
border: 1px solid red;
}
#black{
    background-color: black;
}
#yellow{
    background-color: yellow;
}
#grey {
    background-color: grey;
}
#green{
    background-color: green;
}
