*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html ,body{
    height:100%;
    width: 100%;
}
#main
{
    width: 100%;
    height: auto;
}
#hero
{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
#nav
{   display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}
#nav a{
    color: white;
    text-decoration: none;
}
#heading{
    margin-top: 90px;
}
#heading h1
{ 
    line-height: 1;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.6;
    margin-left: 30px;
}
#heading #secondh1{
    margin-left: 130px;
}
.blocktext
{
    width: fit-content;
}
.blocktext h5{
    text-align: right;
    font-size: 1.4vw;
    text-transform: uppercase;
}